* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

button {
    padding: 10px;
    background-color: greenyellow;
    margin: 5px;
    border-radius: 10px;
}

#header {
    border: 1px solid lightblue;
    background-color: lightblue;
    width: 100vw;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

#logowanie,
#alert {
    width: 300px;
    height: 300px;
    border: 1px solid greenyellow;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30vh;
    left: 37vw;
    background-color: lightblue;
}

#time {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: lightblue;
    top: 60px;
    right: 10px;
    border-radius: 30px;
    text-align: center;
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-size: 170px;
}

#alert {
    display: none;
    text-align: center;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

#p {
    color: greenyellow;
    padding: 5px;
}

#turn {
    opacity: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: red;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}